# SPDX-FileCopyrightText: Copyright (c) 2026 Jason Perlow
# SPDX-License-Identifier: Apache-2.0

POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##POKYDIR##/meta \
  ##POKYDIR##/meta-poky \
  ##POKYDIR##/meta-yocto-bsp \
  ##WORKSPACEDIR##/meta-cix \
"
